<!doctype html>
<html>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />

<head>
	<title>Whiteboard</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/socket.js"></script>
	<script src="/javascripts/paper.js"></script>
</head>

<body style="padding:0;">
	<h1> Html page is diplaying! </h1>
	<a href="/users">user</a>
	<canvas id="draw" resize="true" keepalive="true"></canvas>
	<script type="text/paperscript" src="javascripts/draw.js" canvas="draw"></script>
</body>

</html>