<!doctype html>
<html>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />

<head>
	<title> Whiteboard </title>
</head>

<body>
	<ul class="navigation">
		<li><a href="/">Home</a></li>
		<li><a href="#">About</a></li>
	</ul>
	<div class = "container">
	<h2> Making whiteboards great again since 11/11 </h2>
	<form action="/login" method="post" >
	    <div>
		<label>Username:</label>
		<input type="text" name="Username"/>
	    </div>
	    <div>
		<label>Password:</label>
		<input type="password" name="Password"/>
	    </div>
	    <div>
		<input type="submit" value="Log In"/>
	    </div>
	</form>
	</div>
</body>
</html>
