body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  display: inline;
}

a:hover{
  color:red;
}

.btn-group{
  color: white;
}

.color{
  float: left;
  padding-top: 25pt;
  padding-left :150pt;
  padding-right: 20pt;
}

.thickness{
  font-size: 16pt;
  text-align: center;
  float:left;
  padding: 5pt;
  padding-left:20pt;
  padding-right: 20pt;
}

.erase{
  font-size: 16pt;
  text-align: center;
  vertical-align:middle;
  padding: 5pt;
  float: left;
  padding-left:20pt;
  padding-right: 20pt;
}

.slideThree {
  width: 80px;
  height: 26px;
  background: white;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
}

#draw {
    height: 100%;
    width: 100%;
}

#cursors {
    position: relative;
}

#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
    background: url('pointer.png') no-repeat -4px 0;
}

.container {
  display: flex;
  max-width: 85%;
  justify-content: center;
}

.navigation {
  list-style: none;
  margin: 0;

  background: white;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #FFFFFF;
}

.navigation a:hover {
  background: white;
}

.title {
  color: white;
  float: center;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  font-size: 35px;
}
