body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  display: inline;
}

.btn-group{
  color: white;
}

.color{
  float: left;
  padding-top: 25pt;
  padding-left :20pt;
  padding-right: 20pt;
}

.thickness{
  float:left;
  padding: 5pt;
  padding-left:20pt;
  padding-right: 20pt;
}

.erase{
  vertical-align:middle;
  padding: 5pt;
  float: left;
  padding-left:20pt;
  padding-right: 20pt;
}

/* .slideTwo */
.slideTwo {
  width: 80px;
  height: 30px;
  background: white;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  &:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 6px;
      left: 6px;
      background: #333;
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 54px;
      &:after {
        background: $activeColor; /*activeColor*/
      }
    }
  }
}
/* end .slideTwo */

.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

#draw {
    height: 100%;
    width: 100%;
}

#cursors {
    position: relative;
}

#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
    background: url('pointer.png') no-repeat -4px 0;
}

.container {
  display: flex;
  max-width: 85%;
  justify-content: center;
}

.navigation {
  list-style: none;
  margin: 0;

  background: white;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #FFFFFF;
}

.navigation a:hover {
  background: white;
}

.title {
  color: white;
  float: center;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  font-size: 35px;
}
