body {
  font-family: 'Roboto', sans-serif;
  color: black;
  display:inline;
}

#dude {
    padding-top: 10pt;
    color: white;
    float: right;
}

#user {
    font-size: large;
    font-weight: bolder;
    color: white;
}

#user:hover{
    text-decoration: underline;
    color: #b4150a;
}

.btn-group{
  font-size:12px;
}

.excelb {
    float:left;
    padding-top: 5pt;
    padding-left: 20pt;
    padding-right: 20pt;
}

.color{
  float: left;
  padding-top: 10pt;
  padding-left :50pt;
  padding-right: 10pt;
}

.thickness{
  text-align: center;
  float:left;
    padding-top: 10pt;
  padding-left:10pt;
  padding-right: 10pt;
}

.erase{
  text-align: center;
  vertical-align:middle;
  float: left;
    padding-top: 5pt;
  padding-left:10pt;
  padding-right: 30pt;
}

.download{
  float: left;
  color: black;
  padding-top: 5pt;
  padding-left:30pt;
  padding-right: 30pt;
}


.redo{
  float: left;
  color: black;
  padding-top: 5pt;
  padding-left:10pt;
  padding-right:30pt;
}


.undo{
  float: left;
  color: black;
  padding-top: 5pt;
  padding-left:30pt;
  padding-right:10pt;
}

.chat_button {
    float: right;
    color: black;
    padding-top: 5pt;
    padding-left:20pt;
    padding-right:20pt;
}


.clear{
  float: left;
  color: black;
  padding-top: 5pt;
  padding-left:10pt;
  padding-right:10pt;
}

.chatBox {
    float: left;
    color: black;
    padding-top: 5pt;
    padding-left:20pt;
    padding-right:20pt;
}

#login {
    float: left;
    color: white;
    padding-top: 5pt;
    padding-left: 20pt;
    padding-right: 20pt;
}


.undoButton{
  color: white;
  background-color: grey;
  border: 1pt solid black;
  cursor: pointer;
  padding: 5pt;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.redoButton{
  color: white;
  background-color: grey;
  border: 1pt solid black;
  cursor: pointer;
  padding: 5pt;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.clearButton{
  color: white;
  background-color: grey;
  border: 1pt solid black;
  cursor: pointer;
  padding: 5pt;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.downloadButton{
  color: white;
  background-color: grey;
  border: 1pt solid black;
  cursor: pointer;
  padding: 5pt;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.chatButton {
    color: white;
    background-color: grey;
    border: 1pt solid black;
    cursor: pointer;
    padding: 5pt;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.slideThree {
  width: 70px;
  background: white;
}

#error {
    color:red;
    font-style: italic;
}

#draw {
    height: 100%;
    width: 100%;
}

#cursors {
    position: relative;
}

#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
    background: url('../../pointer.png') no-repeat -4px 0;
}

/*#cursors .custom {*/
  /*position: absolute;*/
  /*width: 15px;*/
  /*height: 22px;*/
  /*background: url('../../eraser.png') no-repeat -4px 0;*/
/*}*/

.container {
  display: flex;
  max-width: 85%;
  justify-content: center;
}

.navigation {
  list-style: none;
  margin: 0;

  background: white;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

#spreadsheet tr:nth-child(1) {
  color: blue;
  border: 1px solid black;
}

#spreadsheet tr:nth-child(1) input {
  text-align: center;
}

#spreadsheet tr td:nth-child(1){
  color: blue;
  border: 1px solid black;
  width: 30px;
}
#spreadsheet tr td:nth-child(1) input {
  text-align: center;
  width: 30px;
}

#spreadsheet {
    width: 300px;
    border: 5px solid red;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #FFFFFF;
}

.navigation a:hover {
  background: grey;
}

.title {
  color: white;
  float:none;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

#chat {
  height:80%;
  width:20%;
  background-color: #0962f2;
  position: fixed;
  bottom: 0;
  right: 0;
}

#message {
    position: relative;
    bottom: 0;
    right: 0;
}

#messages {
  min-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

li.list-group-item {
  word-wrap: break-word;
  border-radius: 20px;
  margin-top: 5px;
  color: black;
}
li.list-group-item:first-child {
  border-radius: 20px;
  color: black;
}
li.list-group-item:last-child {
  border-radius: 20px;
  color: black;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    display: block;
    background-color:white;
    color: black;
    border-radius: 5px;
    position: relative;
    top: 30%; /* 25% from the top */
    height: 20%;
    left: 25%;
    width: 50%; /* 100% width */
    text-align: center; /* Centered text/links */
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}